<app-carousel-of-symbols></app-carousel-of-symbols>
<div class="page-container">

    <div class="top-container">
    </div>
  
    <div class="mid-container">
      <div class="left-column">
        <app-market-table></app-market-table>
        <app-orders-table></app-orders-table>
      </div>
  
      <div class="right-column">
        <app-market-search-bar></app-market-search-bar>
        <app-top-xtable></app-top-xtable>
        <app-place-order></app-place-order>
      </div>
    </div>
  
  </div>
  