.order-form-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: auto;
    margin-top: 15px;
    text-align: center;
}

h2 {
    margin-bottom: 10px;
    color: #333;
}

.order-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.form-group label {
    font-size: 14px;
    margin-bottom: 6px;
    color: #333;
}

.form-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
}

.form-group input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

.form-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.form-buttons button {
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    color: white;
    margin: 0 10px;
    width: 100px;
}

.buy-btn {
    background-color: #28a745;
}

.buy-btn:hover {
    background-color: #218838;
}

.sell-btn {
    background-color: #dc3545;
}

.sell-btn:hover {
    background-color: #c82333;
}

/* Dropdown styling */
.dropdown {
    position: relative;
    width: 100%;
}

.dropdown ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    animation: fadeIn 0.3s ease-in-out;
}

.dropdown ul li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #f0f0f0;
    transition: background-color 0.2s;
}

.dropdown ul li:hover {
    background-color: #f8f9fa;
}

.dropdown ul li:last-child {
    border-bottom: none;
}

.price-form{
    justify-content: center;
    margin: 0 auto;
    box-shadow: none !important;
    border-radius: 40px !important;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .order-form-container {
        width: 90%;
        margin: 0 10px;
    }

    .form-row {
        flex-direction: column;
        align-items: center;
    }

    .form-group {
        width: 100%;
        margin-bottom: 10px;
    }

    .form-buttons {
        flex-direction: column;
    }

    .form-buttons button {
        width: 100%;
        margin-bottom: 10px;
    }
}
