.full-width-height {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 0.75rem;
  overflow: hidden;
}

.left-panel {
  width: 40%;
  display: flex;
  flex-direction: column;
  height: 100vh; /* Ensure it takes the full height */
  padding: 0.5rem;
  gap: 0.5rem;
}

.table-container,
.search-container,
.topxtable-container {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 0.5rem;
}

.table-container {
  flex-grow: 1;
  overflow-y: auto; /* Enable vertical scrolling for the table */
  max-height: 300px; /* Adjust for table height */
}

.table-responsive {
  overflow-y: auto; /* Ensure the table can scroll vertically */
}

table.mat-table {
  width: 100%;
  table-layout: fixed; /* Ensure equal column width */
  border-collapse: collapse; /* Consistent table border behavior */
}

  table.mat-table tr:hover {
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  table.mat-table tr.selected-row {
    background-color: #d0eaff;
  }

.mat-paginator {
  flex-shrink: 0;
  margin-top: auto;
  padding: 0.5rem;
}

.search-container {
  margin-top: 1rem;
  flex-grow: 0;
}

.topxtable-container {
  flex-grow: 1;
  overflow-y: auto; /* Allow scrolling */
}

.details-panel {
  width: 60%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.company-details {
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.details-content {
  display: flex;
  justify-content: space-between;
  gap: 2rem; /* Adds spacing between the two columns */
}

.details-column-left,
.details-column-right {
  width: 48%; /* Each column takes up half the width */
}

  .details-column-left p,
  .details-column-right p {
    font-size: 1.1rem; /* Increase the font size */
    margin: 0.3rem 0;
  }

  .details-column-left strong,
  .details-column-right strong {
    font-size: 1.15rem; /* Bolded labels slightly larger */
  }

.chart-container {
  flex: 0 1 50%;
  padding: 0.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  width: 100%;
  height: 100%;
}
