<div class="full-width-height">
  <!-- Left Panel -->
  <div class="left-panel">
    <!-- Table Container -->
    <div class="table-container">
      <!-- Sort Dropdown -->
      <mat-form-field appearance="fill" class="sort-dropdown">
        <mat-label>Sort by Attribute</mat-label>
        <mat-select [(value)]="selectedAttribute" (selectionChange)="getCompanies($event.value)">
          <mat-option *ngFor="let attr of companyAttributes" [value]="attr">{{ attr }}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Table Container with Pagination -->
      <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
          <!-- Columns definition -->
          <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </th>
            <td mat-cell *matCellDef="let company">{{ company?.company?.symbol }}</td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let company">{{ company?.company?.name }}</td>
          </ng-container>

          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
            <td mat-cell *matCellDef="let company">{{ company?.history?.[company?.history?.length - 1]?.price }}</td>
          </ng-container>

          <!-- Table Rows -->
          <tr mat-header-row *matHeaderRowDef="['symbol', 'name', 'price']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['symbol', 'name', 'price'];" (click)="onRowSelect(row)" style="cursor: pointer;"></tr>
        </table>
      </div>

      <!-- Paginator -->
      <mat-paginator [length]="companies.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" (page)="onPaginateChange($event)">
      </mat-paginator>
    </div>

    <!-- Search Bar -->
    <div class="search-container">
      <app-market-search-bar (search)="onSearch($event)"></app-market-search-bar>
    </div>

    <!-- Top X Table -->
    <div class="topxtable-container">
      <app-top-xtable></app-top-xtable>
    </div>
  </div>

  <!-- Right Panel - Details -->
  <div class="details-panel" *ngIf="selectedCompany && selectedCompany.history?.length">
    <div class="company-details">
      <div class="details-content">
        <div class="details-column-left">
          <p><strong>Name:</strong> {{ selectedCompany?.company?.name }}</p>
          <p><strong>Symbol:</strong> {{ selectedCompany?.company?.symbol }}</p>
          <p><strong>Reference Price:</strong> {{ selectedCompany?.history?.[selectedCompany.history.length - 1]?.referencePrice }}</p>
          <p><strong>Opening Price:</strong> {{ selectedCompany?.history?.[selectedCompany.history.length - 1]?.openingPrice }}</p>
          <p><strong>Closing Price:</strong> {{ selectedCompany?.history?.[selectedCompany.history.length - 1]?.closingPrice }}</p>
        </div>

        <div class="details-column-right">
          <p><strong>EPS:</strong> {{ selectedCompany?.history?.[selectedCompany.history.length - 1]?.eps }}</p>
          <p><strong>PER:</strong> {{ selectedCompany?.history?.[selectedCompany.history.length - 1]?.per }}</p>
          <p><strong>Day Variation:</strong> {{ selectedCompany?.history?.[selectedCompany.history.length - 1]?.dayVariation }}</p>
          <p><strong>Volume:</strong> {{ selectedCompany?.history?.[selectedCompany.history.length - 1]?.volume }}</p>
          <p><strong>Status:</strong> {{ selectedCompany?.company?.status === 1 ? 'Ok' : 'Not ok' }}</p>
        </div>
      </div>
    </div>

    <!-- Canvas for the chart -->
    <div class="chart-container">
      <canvas id="priceGraph"></canvas>
    </div>
  </div>
</div>
